.control {
    font-size: 20px;
    justify-content: center;
    margin: 1em;
    
    display: inline-block;
  

}

.actives {
    font-size: 20px;
    justify-content: center;
    margin: 1em;
    
    display: inline-block;
    
    color: #985E6D;
}

.actives:hover {
    color: white;
    cursor: pointer;
    
}

.size {
    font-size:20px;
}

.box_contain {
    border:5px solid white;
    top: 50%;
    transform: translate(0, 5%);
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:90%;
    height: 80vh;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

.inner_box {
    font-size:15px;
    display: inline;
    justify-content: left;
    display: inline-block;
}

.detail_contain {
    display:inline-block;
}

.header_contain {
    display: inline-block;
    float: 20%;
}

.page_state {
   /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.blank_setup {
    display: inline-block;
    width: 50%;
    height: 78vh;
    justify-self: start;
    background-image: url(../../images/code2.jpeg);
    background-size: contain;
    background-color: white;
    float: right;
}

.display_graphic {
    display:inline-block;
}

#label {
    font-size: 30px;
    background-color: green;;
}

.control:hover {
    color: #985E6D;
    cursor: pointer;
   
}

/* .sign_img {
    background-image: url("../../images/code2.jpeg");
    height: 100vh;
    scale: 50%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
} */

.main_contain {
   
    height: 100vh;
    scale: 50%;
}