.header {
    display: flex;
    justify-content: left;
}

.headerlink-title {
    color: #98878F;
    text-decoration: none;
    font-size: 19px;
    padding: 0 10px;
    display: inline-block;
    position: relative;
}

.headerlink-title:after {
    content: '';
    position: absolute;
    justify-content: center;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #985E6D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.headerlink-title:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.active{
    color: #985E6D;
    text-decoration: none;
    font-size: 19px;
    padding: 0 10px;
    display: inline-block;
    position: relative;
}

.active:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #985E6D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.active:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}